# ⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡
# ⚡ LIGHTER MAINNET ⚡
# ⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡
VITE_ENV=mainnet
VITE_REST_API_BASE=https://mainnet.zklighter.elliot.ai
VITE_WS_API_BASE=wss://mainnet.zklighter.elliot.ai/stream
VITE_EXP_REST_API_BASE=https://explorer.elliot.ai/api